<header>
    <h1>Cedric Reeves' 49er ~ ITIS 3135</h1>

    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="contract.html">Contract</a></li>
      
      
    <li><a href="contract.html">Contract</a></li>

    <li><a href="survey.html">Survey</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="inventory.html">Inventory</a></li>
    <li><a href="instructions.html">Instructions</a></li>
    <li><a href="highlight.html">Highlight</a></li>

      </ul>
    </nav>
  </header>